/* inizializzazione */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul * {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  color: #37465a;
}

/* tipografia */
h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;

}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2.card-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

#h4-special {
  width: 70%;
}

h6 {
  font-size: 12px;
  font-weight: 100;
}

p.popular-features {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* buttons */
.btn-orange {
  border-radius: 5px;
  color: white;
  background-color: #ee7e62;
  border: 1px solid #ee7e62;
}

.btn-white {
  border-radius: 5px;
  color: #ee7e62;
  background-color: none;
  border: 1px solid #ee7e62;
}

.btn-footer {
  border-radius: 5px;
  background-color: white;
  border: 1px solid white;
  color: #37465a;
  text-decoration: none;
}

.btn-card {
  margin: 50px 0;
}

.large {
  font-size: 18px;
  padding: 15px 20px;
}

.small {
  font-size: 12px;
  padding: 5px 20px;
}

a.btn-orange:hover {
  background-color: #f5bfaf;
}

a.btn-white:hover {
  background-color: #fdf1ee;
}

a.btn-footer:hover {
  background-color: lightgrey;
  border: lightgrey;
}

a.btn-orange:link,
a.btn-orange:visited,
a.btn-orange:active,
a.btn-white:link,
a.btn-white:visited,
a.btn-white:active {
  text-decoration: none;
}

/* classi modulari */
.col1 {
  text-align: center;
  width: 100%;
}

.col2-left-30 {
  text-align: left;
  float: left;
  width: 30%;
  height: 100%;
}

.col2-left-50 {
  text-align: left;
  float: left;
  width: 50%;
  height: 100%;
}

.col2-left-70 {
  text-align: left;
  float: left;
  width: 70%;
  height: 100%;
  vertical-align: middle;
}

.col2-right-30 {
  text-align: right;
  float: right;
  width: 30%;
  height: 100%;
}

.col2-right-50 {
  text-align: right;
  float: right;
  width: 50%;
  height: 100%;
}

.col2-right-70 {
  text-align: right;
  float: right;
  width: 70%;
  height: 100%;
}

.col3-left, .col3-middle {
  float: left;
  width: 30%;
}

.col3-middle {
  margin: 0px 5%;
}

.col4 {
  float: left;
  text-align: left;
  width: 25%;
}

.container {
  margin: auto;
  width: 70%;
}

.align-center {
  text-align: center;
}

.inline {
  display: inline;
}

.no-margin {
  margin: 0;
}

.float-close::after {
  content: '';
  display: table;
  clear: both;
}

/* colori di sfondo modulari */
.grey {
  background-color: #f5f9fd;
}

.white {
  background-color: #fff;
}

.gradient-blue {
  background-image: linear-gradient(to right,#49a3a3,#50b4aa);
 color: white;
}
/* return on top btn */
.btn-return {
  position: fixed;
  bottom: 40px;
  right: 50px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background-color: #ee7e62;
  border: 1px solid #ee7e62;
}

/* top-bar fixed */
.top-bar-fixed {
  font-size: 12px;
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #f5f9fd;
  background-color: #f5f9fd;
  z-index: 999;
  box-shadow: 0px 2px 4px lightgrey;
}

.top-bar-fixed li {
  display: inline-block;
}

ul.standard-links li a:link,
ul.standard-links li a:visited,
ul.standard-links li a:active,
ul.standard-links li a:hover {
  text-decoration: none;
  color: #37465a;
}

/* header */
header {
  margin-top: 7vh;
  position: relative;
  width: 100%;
  height: 93vh;
  overflow: hidden;
  background-color: #fdf5f0;
}

.header-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  background-color: white;
  border-bottom: 3px solid #37465a;
}

nav li {
  display: inline-block;
  padding: 0px 10px;
}

nav li:last-child {
  padding: 0;
}

img.logo {
  vertical-align: middle;
}

img.jumbotron {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.header-content {
  position: absolute;
  top: 130px;
  left: 15%;
  width: 30%;
}

.header-content h4 {
  margin: 40px 0;
  width: 40%;
}

/* divisore header  */
.header-divider {
  width: 100%;
  height: 7vh;
  border-top: 4px solid #37465a;
  border-bottom: 4px solid #37465a;
}

/* main */
section {
  padding: 40px 0;
}

.card {
  background-color: white;
  box-shadow: 0px 2px 4px lightgrey;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.card-content {
  padding: 50px;
}

img.img-card {
  display: block;
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

div.card-line {
  width: 60%;
  margin: auto;
}

hr.card-line {
  width: 40%;
  margin: 40px auto;
}

.card-list-horizontal li {
  display: inline-block;
  padding: 30px 10px;
  font-size: 14px;
}

.card-list-horizontal li:first-child {
  padding: 30px 0;
}

.card-list-horizontal li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f00c ';
}

.card-list-vertical li {
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
}

.card-list-vertical li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f00c';
}
/* sezione customers */
.container-partners {
  margin: auto;
  width: 60%;
}

img.img-customers {
  width: 60%;
}

.table {
  margin: 30px 0;
}

.table-cell {
  float: left;
  width: 25%;
  height: 200px;
  text-align: center;
  padding: 30px;
}

.table-cell h1::after {
  content: '+';
}

.table-cell img {
  margin-bottom: 20px;
}

.border-right {
  border-right: 1px solid white;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.table-agency-cell {
  float: left;
  width: 25%;
  height: 100px;
  text-align: center;
}

.table-agency-cell img {
  width: 60%;
}

/* footer */
footer {
  padding: 30px 0;
  background-color: #364959;
  color: white;
  width: 100%;
}

footer h4 {
  margin-bottom: 20px;
  font-weight: 700;
}

footer li a:link,
footer li a:visited,
footer li a:active,
ul.lang-policy li a:link,
ul.lang-policy li a:visited,
ul.lang-policy li a:active {
  text-decoration: none;
  color: inherit;
}

footer li a:hover,
ul.lang-policy li a:hover {
  color: white;
}

footer li {
  color: #cdd6e1;
  margin: 6px 0;
}

ul.social {
  margin-top: 20px;
}

ul.social li {
  display: inline;
  padding: 0 10px;
}

ul.social li:first-child {
  padding-left: 0;
  padding-right: 10px;
}

ul.lang-policy {
  list-style: none;
}

ul.lang-policy li {
  display: inline-block;
  margin: 20px 10px;
}

hr.footer-line {
  margin: 10px 0;
}
