/* inizializzazione */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* classi modulari */
.col2-left {
  text-align: left;
  float: left;
  width: 50%;
  height: 100%;
}
.col2-right {
  text-align: right;
  float: right;
  width: 50%;
  height: 100%;
}
.container {
  margin: auto;
  width: 70%;
}

/* top-bar */
.top-bar-fixed {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  background-color: #f5f9fd;
  z-index: 999;
}

/* header */
header {
  margin-top: 7vh;
  position: relative;
  width: 100%;
  height: 93vh;
  overflow: hidden;
  background-color: #fdf5f0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: white;
  box-shadow: 0px 2px 4px lightgrey;
  z-index: 999;
}


img.jumbotron {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.header-divider {
  width: 100%;
  height: 7vh;
  background-color: #58b4a0;
  border-top: 4px solid #37465a;
  border-bottom: 4px solid #37465a;
}
